.nav__item-account {
  display: none;
}

.nav__item-account {
  @include breakpoint($desktop) {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    li:first-of-type {
      margin-right: 40px;
    }
  }
}

.button--gradient {
  &::before {
    @include font-icon;

    content: '\e903';
    margin-right: 5px;
  }
}

.nav__auth-link {
  border: 1px solid var(--c-brand);
  border-radius: 26px;
  color: var(--c-brand);
  bottom: 2px;
  position: relative;
  padding: 12px 16px;
  display: none;
  text-decoration: none;

  &:hover {
    background: var(--c-brand);
    color: var(--c-white);
  }

  @include breakpoint($desktop) {
    display: inline;
    padding: 8px 16px;
    bottom: 2px;
    position: relative;
  }
}

.icon-google::before {
  content: '\e917';
  top: 4px;
  font-size: 20px;
  position: relative;
}

.nav__sidebar_ul-account {
  display: block;
  margin-top: 140px;
  list-style: none;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 60px;

  li:first-of-type {
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

.nav__sidebar_auth-link {
  display: inline;
  position: absolute;
  bottom: 90px;
  left: 20px;
}
