html {
  font-size: 100%;
  font-family: var(--f-primary);
  color: var(--c-text);
}

body {
  background: var(--c-background);
  padding-top: 73px;

  @include breakpoint($desktop) {
    padding-top: 0;
  }
}

a {
  color: var(--c-duration);
}
