html {
  font-size: 100%;
  font-family: var(--f-primary);
  color: var(--c-text);
  background: var(--c-background);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-top: 73px;

  @include breakpoint($desktop) {
    padding-top: 0;
  }
}

a {
  color: var(--c-link);
}
