.button--gradient {
  font-size: 14px;
  color: var(--c-white);
  background: var(--c-brand);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
