.count-filter-form {
  display: flex;
  align-items: center;

  @include breakpoint($mobile) {
    display: block;
  }

  label {
    display: block;
  }

  .form-text {
    max-width: 100%;
    width: auto;
    margin-right: 20px;
  }

  .input-text {
    margin-top: unset;
  }

  #edit-actions {
    padding-top: 10px;

    #edit-reset {
      margin-left: 16px;
    }
  }
}

.ct-height {
  height: auto;
  max-width: var(--width);
  width: calc(100% - 30px);
  border-radius: 4px;
  background-color: var(--c-background);
  margin: 40px auto;
}

.ct-results {
  padding-left: 10px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--c-white);
  min-height: 200px;
  position: relative;
  margin: 0 0 30px;

  @include breakpoint($desktop) {
    padding-left: 32px;
    margin: 0 0 20px;
  }
}

.ct-margin {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;

  @include breakpoint($mobile) {
    display: block;
  }
}

.ct-count {
  margin-top: 10px;
  margin-bottom: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 1;
  color: var(--c-brand);
  font-size: 6rem;
}

.ct-label {
  margin: 0;
  font-family: var(--f-secondary);
  font-size: 16px;
  font-weight: normal;
}
