.contribution-filter-form {
  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-content: flex-start;
  }

  .select2 {
    &-selection {
      border: 1px solid var(--c-border);
    }

    &-container {
      margin-top: 16px;
      width: 100% !important;
      @include breakpoint($desktop) {
        width: 80% !important;
      }
    }

    &-selection--multiple {
      padding: 4px 8px;
    }

    &-selection__choice {
      margin: 4px;
    }

    &-selection--single {
      height: auto;
      padding: 8px 16px;

      &__rendered {
        line-height: unset !important;
      }
    }

    &-selection__arrow {
      top: 7px !important;
      right: 8px !important;
    }
  }

  .form {
    &-text {
      width: 100% !important;
      max-width: unset !important;

      @include breakpoint($desktop) {
        width: 80% !important;
      }
    }

    &-actions {
      grid-column-start: 1;
    }
  }

  #edit-reset {
    margin-left: 16px;
  }

  .fieldset-wrapper {
    display: block;

    @include breakpoint($tablet) {
      justify-content: space-between;
    }

    @include breakpoint($beyond-tablet) {
      display: flex;
    }
  }

  .input--date {
    width: 100% !important;
  }

  .form-wrapper {
    border: 0;
    width: 100%;
    padding: 0;

    @include breakpoint($mobile) {
      padding: 0;
    }

    @include breakpoint($tablet) {
      width: 100%;
    }

    @include breakpoint($desktop) {
      width: 88%;
    }
  }

  .js-form-item-field-contribution-date-value-max {
    label {
      @include breakpoint($desktop) {
        margin-left: 22px;
      }
    }
  }
}

.contributions__event {
  .form-item-uid {
    margin-top: 24px;
  }
}

#edit-field-contribution-date-value-max {
  @include breakpoint($desktop) {
    margin-left: 22px;
  }
}
