.contribution-filter-form {
  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-content: flex-start;
  }

  .select2 {
    &-container {
      margin-top: 16px;
      width: 100% !important;
      @include breakpoint($desktop) {
        width: 80% !important;
      }
    }

    &-selection {
      min-height: 60px !important;
    }

    &-selection--single__rendered {
      line-height: 55px !important;
    }

    &-selection__arrow {
      height: 58px !important;
    }

    &-selection--multiple {
      padding: unset !important;
    }
  }

  .form {
    &-text {
      width: 100% !important;
      max-width: unset !important;

      @include breakpoint($desktop) {
        width: 80% !important;
      }
    }

    &-actions {
      grid-column-start: 1;
    }
  }

  #edit-reset {
    margin-left: 16px;
  }
}
