:root {
  --c-brand: #ec4b06ee;
  --c-brand-light: #ff8d23;
  --c-text: #424242;
  --c-text-dark: #212121;
  --c-text-light: #6d6868;
  --c-background: #e5e5e5;
  --c-white: #fff;
  --c-title: #000;
  --c-blue-navy: #03619c;
  --c-dim-grey: #6d6363;
  --c-event-type: #828282;
  --c-link-code: #03619c;
  --c-orange: #ff8d23;
  --c-blue: #3f75ff;
  --c-aqua: #24b7a5;
  --c-chart-blue: #3f75ff;
  --c-aqua-green: #24b7a5;
  --c-link: #00e;
  --c-php: #24b7a5;
  --c-show-tell: #3f75ff;
  --c-webinar: #ff8d23;
  --c-border: #858080;
  --c-hover: #ececec;
}
