:root {
  --width: 1144px;
  --grid-gap-mobile: 15px;
  --grid-column-gap: 32px;
  --grid-gap-desktop: 45px 0;
  --grid-template-columns: 200px auto;
  --grid-column: span 6;
  --grid-column-less: span 3;
  --grid-template-columns-repeat: repeat(12, 1fr);
  --grid-column-span: 10 / span 3;
  --grid-column-span-less: 7 / span 6;
}
